body {
    font-family: 'Recursive', sans-serif;
    margin: 0 50px;
    background-color: black;
    color: white;
    flex-wrap: wrap;
    cursor: url(./images/rsz_duck.png), wait;
    /* cursor: wait; */
    height: 100vh;
}

header {
    flex-direction: column;
    flex-basis: 100%;
}

nav {
    border-bottom: 3px white solid;
    width: 100%;
}

#mugshot {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: solid 3px white;
    margin: 10px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

a:visited, a {
    color: white;
    margin: 15px;
}